@{
    ViewData["Title"] = "비밀번호 찾기";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Find.css" />

<div class="find-container">
    <h2>비밀번호 찾기</h2>

    <form method="post" asp-action="FindPassword" asp-controller="Account">
        <label>아이디</label>
        <input type="text" name="UserName" required />

        <label>이메일</label>
        <input type="email" name="Email" required />

        <button class="btn-main" type="submit">비밀번호 재설정 메일 보내기</button>

        <button type="button" class="btn-main btn-back" onclick="location.href='/Account/Login'">
            로그인으로 돌아가기
        </button>
    </form>
</div>
