@{
    ViewData["Title"] = "비밀번호 변경 완료";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Find.css" />

<div class="find-container">
    <h2>비밀번호 변경이 완료되었습니다 ✅</h2>
    <p style="margin-top:10px;">새 비밀번호로 로그인해 주세요.</p>

    <button type="button" class="btn-main" onclick="location.href='/Account/Login'">
        로그인 하러 가기
    </button>
</div>
