@{
    ViewData["Title"] = "링크 만료";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Find.css" />

<div class="find-container">
    <h2>비밀번호 재설정 링크가 만료되었습니다 ⏳</h2>
    <p style="margin-top:10px;">비밀번호 찾기를 다시 진행해 주세요.</p>

    <button type="button" class="btn-main" onclick="location.href='/Account/FindPassword'">
        비밀번호 찾기 다시하기
    </button>
</div>
