@{
    ViewData["Title"] = "비밀번호 재설정";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/Find.css" />

<div class="find-container">
    <h2>새 비밀번호 설정</h2>

    <form method="post" asp-action="ResetPassword" asp-controller="Account">
        <input type="hidden" name="Token" value="@ViewBag.Token" />
        <input type="hidden" name="UserName" value="@ViewBag.UserName" />

        <label>새 비밀번호</label>
        <input type="password" name="NewPassword" required />

        <label>비밀번호 확인</label>
        <input type="password" name="ConfirmPassword" required />

        <button class="btn-main" type="submit">비밀번호 변경</button>

        <button type="button" class="btn-main btn-back" onclick="location.href='/Account/Login'">
            로그인으로 이동
        </button>
    </form>
</div>
