.box {
    width: 90%;
    max-width: 450px;
    margin: 80px auto;
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 18px;
    margin: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.yes {
    background: #e60000;
    color: #fff;
}

.no {
    background: #777;
    color: #fff;
}
