.wrap {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 20px;
}

    .input-box label {
        display: block;
        font-weight: bold;
        margin-bottom: 6px;
    }

    .input-box input, .input-box textarea {
        width: 100%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
    }

/* 이미지 미리보기 박스 */
.preview-area {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.preview-box {
    width: 120px;
    height: 120px;
    position: relative;
}

    .preview-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }

.remove-btn {
    position: absolute;
    top: -6px;
    right: -6px;
    background: red;
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/* 영상 */
.preview-box video {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}
